.top-layer{
    -fx-background-color:linear-gradient(to left,#023e8a,#48cae4);
    -fx-border-color:#023e8a;
    -fx-border-width:0px 0px 2px 0px;
    -fx-border-shadow:10px;
}

.back-btn{
    -fx-background-color:transparent;
}
.back-btn:hover{
    -fx-background-color:#0077b6;
    -fx-border-radius:4px;
    -fx-border-width:1px;

}

.layer{
    -fx-background-color:#caf0f8;
}

.title-txt{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-font-size:30px;
}

.tt{
    -fx-text-fill:#023e8a;
    -fx-font-family:"Arial";
    -fx-font-size:16px;
}

.textfield{
    -fx-background-color:#fff;
    -fx-background-radius:4px;
    -fx-border-color:#03045e;
    -fx-border-width:1px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-pref-width:270px;
    -fx-pref-height:30px;
}

.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right,#00b4d8,#03045e);
    -fx-border-width:.8px;
}


.btt{
    -fx-background-color:linear-gradient(to bottom ,#00b4d8,#0077b6);
    -fx-background-radius:5px;
    -fx-text-fill:#edf6f9;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.btt:hover{
    -fx-background-color:linear-gradient(to bottom ,#00b4d8,#023e8a);
}

.combo{
    -fx-background-color:#fff;
    -fx-background-radius:4px;
    -fx-border-color:#03045e;
    -fx-border-width:1px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-pref-width:180px;
    -fx-pref-height:32px;
    -fx-prompt-text-color:#fff;
}

.combo:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right,#00b4d8,#03045e);
    -fx-border-width:.8px;
}

.clear-btn{
    -fx-background-color:linear-gradient(to bottom ,#ff4d6d,#a4133c);
    -fx-background-radius:5px;
    -fx-text-fill:#edf6f9;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.clear-btn:hover{
    -fx-background-color:linear-gradient(to bottom ,#ff4d6d,#590d22);
}